{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% for books in book %}
<div>
<table>
    <img src="{{books.picture.url}}" alt="image" width="100" height="100" style="border-radius: 100px">
    {{ books.surname }}
    {{ books.Latest_class_Attended }}
    <a href="{% url 'formdetail' books.id %}">view booklet</a>
    <br>
    <a href="{% url 'update' books.pk %}">Edit</a>
    <hr>

</table>
</div>
{% endfor %}



{% endblock content %}